#nav {
    line-height: 2;
    outline: none;

}
#nav ul {
    position: relative;
    padding:0;
    /*height:50px;*/

}
#nav li {
    float: left;
    list-style: none;
    margin-right:2px;
    padding: 0 0 0 0;
    border-radius: 10px 10px 0 0;
    border: solid 1px #C7C7C7;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #c7c7c7 38%, #c7c7c7 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #c7c7c7 38%, #c7c7c7 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #c7c7c7 38%, #c7c7c7 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #c7c7c7 38%, #c7c7c7 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #c7c7c7 38%, #c7c7c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c7c7', GradientType=0 );
}
#nav li.active {
    border: solid 1px #3E78A6;
    background: #dcf3f5;
    background: -moz-linear-gradient(top, #dcf3f5 0%, #0e78a6 38%, #0e78a6 100%);
    background: -webkit-linear-gradient(top, #dcf3f5 0%, #0e78a6 38%, #0e78a6 100%);
    background: -o-linear-gradient(top, #dcf3f5 0%, #0e78a6 38%, #0e78a6 100%);
    background: -ms-linear-gradient(top, #dcf3f5 0%, #0e78a6 38%, #0e78a6 100%);
    background: linear-gradient(to bottom, #dcf3f5 0%, #0e78a6 38%, #0e78a6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcf3f5', endColorstr='#0e78a6', GradientType=0 );
}
#nav ul li a:hover {
    text-shadow: #2e2e2e 0 0 1px;
}
#nav ul li.active a:hover {
    color: lightgrey;
}

#nav ul li ul li a:hover {
    color: black !important;
}
#nav ul li ul li.active a:hover {
    color: lightgrey !important;
}
#nav a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 0 20px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
#nav a:hover {
    text-decoration: none;
}
#nav li.active a{
    text-decoration: none;
    color: white;
}

/*
 * 2 limenis
 */

#nav ul li ul {
    display: none;
    position: absolute;
    /*z-index: 10;*/
    width:100%;
    border: solid 1px #3E78A6;
    /*padding:0 0 10px 0;*/
    background: #3E78A6;
    left:0px;

}
#nav ul li.active ul {
    display: block;
}
#nav ul li ul li {
    border-radius: 0;
    background: none !important;
    border: none;
}
#nav ul li ul li.active {
    border: none;
    background-color:#212842 !important;
}
#nav ul li ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#nav ul li ul li a:hover {

    text-decoration: none;
    font-weight: bold;
}
#nav ul li ul li:hover {
    background: none;
}
/*
 * 3 limenis
 */

#nav ul ul ul li {
    color: red;
    clear: both;
    /*background-color: #0000cc;*/
    width:100%;
}
#nav ul ul ul {
    line-height:1.6;
    display: none !important;
    width:auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:solid 1px #cccccc;
    box-shadow: 5px 5px 5px grey;
}
#nav ul ul li:hover ul {
    display: block;
}
#nav ul ul ul > li:first-child:hover,
#nav ul ul ul > li:last-child:hover{
    background-color:#3E78A6 !important;
}
nav.navbar{
    z-index: 0;
}
.yellow{
    color:#c0a16b;
}
.green{
    color:blue;
}
#overlay{
    display:none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url('http://helps/img/lightgray.png');
    background-repeat: repeat;
    z-index: 0
}
#overlayBody{
    box-shadow: 0 0 10px;
    display:none;
    padding: 10px 20px 20px 10px;
    position: relative;
    left: 300px;
    background: white;
    width: 400px;
    opacity: 1;
    border-radius: 0 0 5px 5px;
    border: solid 1px #5a5a5a/*#C7C7C7*/;
    border-top: none;
}
#overlayBtnsDiv{
    text-align: right;
}
#overlayOkBtn{
    padding:0 20px;
}
#header{
    height: 50px;
    background-image: url('/img/header.jpg');
}
#loginHeader{
    height: 50px;
}
#headerText {
    float: left;
    padding: 3px 0 0 10px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: #2e2e2e 0 4px 5px;
    color: white;
    cursor: pointer;
}
#headerText:hover {
    color: lightgray;
}

#modal-tree li.jstree-open a i.jstree-icon:before,
#slave-tree li.jstree-open a i.jstree-icon:before {
    content: "\e118";
}

#modal-tree li.jstree-closed a i.jstree-icon:before,
#slave-tree li.jstree-closed a i.jstree-icon:before {
    content: "\e117";
}

#modal-tree li.jstree-leaf a i.jstree-icon.glyphicon-leaf:before,
#slave-tree li.jstree-leaf a i.jstree-icon.glyphicon-leaf:before{
    content: "\e103";
}